{#
/**
 * @file
 * Template for the image arrangement page.
 *
 * Available variables:
 * - date: The date string.
 * - source: The source taxonomy term.
 * - created_tenders: Array of created tenders.
 * - unprocessed_images: Array of unprocessed images.
 */
#}
<div class="tender-image-arrangement">
  <h2>{{ 'Image Arrangement for'|t }} {{ source.label }} - {{ date }}</h2>
  
  {% if created_tenders is not empty %}
    <div class="created-tenders-section">
      <h3>{{ 'Created Tenders'|t }}</h3>
      <ul class="tender-list">
        {% for tender in created_tenders %}
          <li>
            <a href="{{ tender.url }}">{{ tender.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  <div class="unprocessed-images-section">
    <h3>{{ 'Unprocessed Images'|t }}</h3>
    {{ form }}
  </div>
</div>
