{#
/**
 * @file
 * Template for the dateline detail page showing tenders.
 *
 * Available variables:
 * - source_name: Name of the source.
 * - date: Date in Y-m-d format.
 * - formatted_date: Human-readable date.
 * - tenders: Array of tender objects.
 */
#}
<div class="tender-dateline-detail">
  <div class="breadcrumb-nav">
    <a href="/admin/content/tender">{{ 'Back to Tenders'|t }}</a>
  </div>
  
  <h2>{{ 'Dateline: %source - %date'|t({'%source': source_name, '%date': formatted_date}) }}</h2>
  
  {% if tenders is empty %}
    <p>{{ 'No tenders found for this dateline.'|t }}</p>
  {% else %}
    <div class="tender-list">
      <table class="tenders-table">
        <thead>
          <tr>
            <th>{{ 'Title'|t }}</th>
            <th>{{ 'Author'|t }}</th>
            <th>{{ 'Created'|t }}</th>
            <th>{{ 'Last Updated'|t }}</th>
            <th>{{ 'Moderation State'|t }}</th>
            <th>{{ 'Proofreader'|t }}</th>
            <th>{{ 'Share Status'|t }}</th>
            <th>{{ 'Actions'|t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for tender in tenders %}
            <tr>
              <td>
                <a href="{{ tender.url }}">{{ tender.title }}</a>
              </td>
              <td>{{ tender.author }}</td>
              <td>{{ tender.created }}</td>
              <td>{{ tender.changed }}</td>
              <td>{{ tender.moderation_state }}</td>
              <td>{{ tender.editor }}</td>
              <td>{{ tender.share_status }}</td>
              <td>
                <a href="{{ tender.edit_url }}">{{ 'Edit'|t }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if pager %}
        <div class="tender-pager">
          {{ pager }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
