{#
/**
 * @file
 * Template for the unified Tenders main page showing datelines.
 *
 * Available variables:
 * - datelines: Array of dateline objects grouped by source.
 */
#}
<div class="tender-main-page">
  <h2>{{ 'Tenders'|t }}</h2>
  
  {% if datelines is empty %}
    <p>{{ 'No tenders have been created yet.'|t }}</p>
  {% else %}
    <div class="tender-datelines">
      <h3>{{ 'Datelines'|t }}</h3>
      <table class="datelines-table">
        <thead>
          <tr>
            <th>{{ 'Source'|t }}</th>
            <th>{{ 'Date'|t }}</th>
            <th>{{ 'Tender Count'|t }}</th>
            <th>{{ 'Actions'|t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for dateline in datelines %}
            <tr>
              <td>{{ dateline.source_name }}</td>
              <td>{{ dateline.formatted_date }} <span class="date-code">({{ dateline.date }})</span></td>
              <td>{{ dateline.tender_count }}</td>
              <td>
                <a href="{{ dateline.url }}" class="button button--small">{{ 'View Tenders'|t }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if pager %}
        <div class="tender-pager">
          {{ pager }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
